
h1{
	font-family: 'MedievalSharp', cursive;
	color: #DEE05D;
	text-align: center;
}
h2{
	font-family: 'MedievalSharp', cursive;
	color: #DEE05D;
	text-align: center;
}
h3{
	font-family: 'MedievalSharp', cursive;
	color: black;
	text-align: center;
	font-size: 150%;
}

a{
	color: #FAF6F4;
}
html{
	background: url('../images/eye.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}
